.y {
    background-image: url(images/pattern.png);
    width: 100%;
    height:50px;
    text-align: center;
}

.x {
    background-color: darkgrey;
    text-align: center;
    padding-bottom: 15px;
}

img {
   float: left;
   height: 350px;
   width: 480px;
}

.para {
    text-align: center;
    text-transform: capitalize;
    color: rgb(177, 104, 104);
}
 body {
     margin:21px;
 }

.z {
    width: 1240px;
    border: 5px solid gray;
    padding: 3px;
    margin: 0px;   
}

